<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Affichage</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="conteneur_affichage">
		<h2 class="titreProp">Propriétaire</h2>
		<div class="proprio">
			<p class="delete_all">X</p>
			
			<p id="getfirstName" onclick="ok()">papa faly</p>
			<p id="getfastName">diagne</p>
			<div class="voiture">
				<h2 class="titreVoi">Voiture</h2>
				<p>Marque</p>
				<p>Model</p>
				<p>Couleur</p>
				<p>822242f2727</p>
				<p>2020</p>
				<p>59000</p>
				<button class="edit" onclick="affichage_owner()">Modifier</button>
				<button class="delete">Supprimer</button>
			</div>


		</div>

			
		</div>


	</div>
	<script type="" src="scriptAffichage.js"></script>
</body>
</html>